# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files
*~

# Dependency directories
vendor/
Godeps/

# Go workspace file
go.work

# VS Code settings
.vscode/

# History file
.history/

.env